<%
local OKSysUtil = require "officekit.util.OKSysUtil"
local OKlanwanutil = require "officekit.util.OKLanWanUtil"
local macdefault = string.upper(OKlanwanutil.getDefaultMacAddress())
local luciI18n = require "luci.i18n"
local romVersion = OKSysUtil.getRomVersion()
local _romChannel = OKSysUtil.getChannel()
local romChannel = luciI18n.translate("开发版")
if _romChannel == "current" then
    romChannel = luciI18n.translate("内测版")
end
if _romChannel == "release" then
    romChannel = luciI18n.translate("稳定版")
end
local misc = OKSysUtil.getMiscHardwareInfo()
local bbsUrl = misc.bbs
local OKCountryCode = require "officekit.OKCountryCode"
local ccode = OKCountryCode.getCurrentCountryCode()
%>
    <div id="ft">
        <p><%:系统版本%>: <%=romVersion%> <%=romChannel%>  <%:MAC地址%>: <%=macdefault%></p>
        <p>&copy; 2015 <%:乐企签到盒子%><span>|</span><a href="http://www1.miwifi.com" target="_blank"><%:官方网站%></a><span>|</span><a href="http://weibo.com/xiaomiluyouqi" target="_blank"><%:官方微博%></a><span>|</span><a href="https://land.xiaomi.net/res/e1fdbc3/land/miwifi/wf_2dcode.jpg" target="_blank" id="wechatcode"><%if (ccode=='HK') then%>WeChat<%elseif (ccode=='TW') then%>WeChat<%else%><%:官方微信%><%end%></a><span>|</span><a href="<%if (ccode=='HK') then%>http://hk.miui.com/forum.php<%elseif (ccode=='TW') then%>http://tw.miui.com/forum.php<%else%><%=bbsUrl%><%end%>" target="_blank"><%:用户社区%></a><%if (ccode=='HK') then%><span>|</span><a target="_blank" href="https://www.facebook.com/xiaomihongkong">Facebook</a><%elseif (ccode=='TW') then%><span>|</span><a target="_blank" href="https://www.facebook.com/xiaomitaiwan">Facebook</a><%else%><%end%><span>|</span><%:服务热线%>  <%if (ccode=='HK') then%>+852 30011888<%elseif (ccode=='TW') then%>02-21921023<%else%>400-100-5678<%end%><p>
    </div>
