<%
local ver = require("officekit.OKVersion").webVersion
local OKSysUtil = require("officekit.util.OKSysUtil")
if OKSysUtil.getInitInfo() then
    luci.http.redirect(luci.dispatcher.build_url())
else
    OKSysUtil.setSysPasswordDefault()
end
local romChannel = OKSysUtil.getChannel()
if romChannel == "release" then
    local OKCountryCode = require "officekit.OKCountryCode"
    local conf = require "luci.config"
    local ccode = OKCountryCode.getCurrentCountryCode()
    local lang = OKCountryCode.LANGUAGE[ccode]
    if conf.languages[lang] then
        OKSysUtil.setLang(lang)
        require "luci.i18n".setlanguage(lang)
    end
else
    local lang = 'zh_cn'
    OKSysUtil.setLang(lang)
    require "luci.i18n".setlanguage(lang)
end
%>
<%include("okweb/inc/head")%>
    <title><%:乐企签到盒子%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link href="<%=resource%>/web/css/bc.css?v=<%=ver%>" rel="stylesheet">
    <link href="<%=resource%>/web/css/guide.css?v=<%=ver%>" rel="stylesheet">
</head>
<body>
<div id="guide-doc">
    <div id="guide-hd">
        <div class="mod-guide-hd">
            <div class="icons"><!--<img src="<%=resource%>/web/img/bg_guide_hd.png?v=<%=ver%>" height="96">--></div>
            <p><%:欢迎使用乐企签到盒子%></p>
            <!-- <div class="languageset clearfix">
                <div class="form-item-select form-item-selectlang">
                    <label class="k"></label>
                    <span class="v">
                    <select name="lang" id="lang" class="beautify selectlang" style="width:50px;">
                    </select>
                    </span>
                </div>
            </div> -->
        </div>
    </div>
    <div id="guide-bd">
        <div class="mod-guide-welcome">
            <div class="start">
                <p class="img"><!--<img src="<%=resource%>/web/img/rt.jpg">--></p>
                <p class="agree"><%:请先阅读%><a class="a1" target="_blank" href="<%=luci.dispatcher.build_url("okweb", "init", "agreement")%>"><%:《用户许可使用协议》%></a><%:后选择是否同意%></p>
                <a id="btnStart" class="btn btn-primary" href="#"><span><%:同意，继续%></span></a>
            </div>
        </div>
    </div>
</div>
<%include("okweb/inc/g.js")%>
<script>
$(function(){                                                 
                                                              
    var elBtnStart = $( '#btnStart' ),                        
        elAgree = $( '#agree' );                              
                                                              
                                                              
    elBtnStart.on( 'wait', function() {                       
        this.className = 'btn btn-primary-disabled';          
        $('span', this).text('<%:............%>');            
    });                                                       
                                                              
    elBtnStart.on( 'click', function(e) {                     
        e.preventDefault();                                   
        var privacy = $('#privacy').is(':checked') ? 1 : 0;   
                                                              
        var nonce = Encrypt.init(),                           
            oldPwd = Encrypt.oldPwd( 'admin' ),               
            data = {                                          
                username: 'root',                            
                logtype: 2,                                   
                password: oldPwd,                             
                nonce: nonce,                                 
                init: 1                                       
            };                                                
                                                              
        elBtnStart.trigger( 'wait' );                         
        $.getJSON( '<%=luci.dispatcher.build_url("api", "OKsystem", "login")%>', data, function( rsp ) {
            if ( rsp.code == 0 ) {                            
                window.location.href = rsp.url + '#privacy=' +  privacy;
            } else {                                          
                window.location.reload();                     
            }                           
        });                                                   
                                                              
    });                                                       
                                                              
    // tag the first init                                     
    $.cookie('needguide', '1', {                              
        path: '/',                                            
        expires: 7                                            
    });
});
</script>
</body>
</html>
